*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.contenedor-parallax{
  
  position:relative;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}


.bg-img{
  position:absolute;
  width:194.44%;
  top: 1.86%;
  left:50.69%;
  transform:translate(-50%,-50%);
  z-index: 1;
}

.coral-fondo{
  position:absolute;
  width:50%;
  top: 73.8%;
  left:55%;
  transform:translate(-50%,-50%);
  z-index: 2;
}

.imagen-titulo{

  position:absolute;
  width:50%;
  top: calc(50%);
  left:calc(50%);
  transform:translate(-50%,-50%);
  z-index: 3;

}

.algas{

  position:absolute;
  width:63.5%;
  top: 83%;
  left:70%;
  transform:translate(-50%,-50%);
  z-index: 4;

}


.piedra{

  position:absolute;
  width:30.5%;
  top: 93.3%;
  left:30%;
  transform:translate(-50%,-50%);
  z-index: 4;

}

.pez-payaso{

  position:absolute;
  width:11%;
  top: 52.5%;
  left:75.1%;
  transform:translate(-50%,-50%);
  z-index: 4;

}

.pez-cirujano{

  position:absolute;
  width:12%;
  top: 48%;
  left:24%;
  transform:translate(-50%,-50%);
  z-index: 4;

}

.coral-derecho{

  position:absolute;
  width:42.5%;
  top: 72%;
  left:82%;
  transform:translate(-50%,-50%);
  z-index: 2;

}

.coral-izquierdo{

  position:absolute;
  width:40%;
  top: 50%;
  left:5%;
  transform:translate(-50%,-50%);
  z-index: 5;

}

.vinieta{
  position:absolute;
  z-index: 100;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  background: radial-gradient(ellipse at center,rgba(0,0,0,0) 65%, rgba(0,0,0,0.9));

}

.parallax{
  pointer-events: none;
  transition: 0.6s cubic-bezier(.11,.56,.49,1.04);

}


@media (max-width: 725px){


  
.bg-img{
  
  width:initial;
  height:311.104%;
  
}

.coral-fondo{
  
  width:initial;
  height:50%;
  
}

.imagen-titulo{

  
  width:initial;
  height:15%;
  

}

.algas{

  
  width:initial;
  height:42.6%;
  

}


.piedra{

  width:initial;
  height: 20.8%;
}

.pez-payaso{

  width:initial;
  height: 5.6%;
  left:87%;
  
}

.pez-cirujano{


  width:initial;
  height: 7.2%;
  left:13%;
  top:48%;


}

.coral-derecho{

  width:initial;
  height: 100%;
  top:50%;
}

.coral-izquierdo{

  width:initial;
  height: 100%;
  left:-20%;

}



}








